<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        label{
            display: block;
            float: left;
            width : 200px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">University</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/groups}">Groups</a></li>
                        <li><a class="dropdown-item" th:href="@{/halls}">Halls</a></li>
                        <li><a class="dropdown-item" th:href="@{/schedules}">Schedules</a></li>
                        <li><a class="dropdown-item" th:href="@{/students}">Students</a></li>
                        <li><a class="dropdown-item" th:href="@{/subjects}">Subjects</a></li>
                        <li><a class="dropdown-item" th:href="@{/teachers}">Teachers</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form th:method="POST" th:action="@{/schedules}" th:object="${schedule}">
    <label for="all-groups">Choose group : </label>
    <select id="all-groups" name="group">
        <option selected="selected">
            <p th:text=".....">VALUE</p>
        </option>
        <datalist id="groups">
            <div th:each="group : ${groups}">
                <option th:text="${group.getGroupName()}"/>
            </div>
        </datalist>
    </select>
    <br/>
    <label for="date-time">Enter date time: </label>
    <input name="date-time" type="datetime-local" id="date-time"/>
    <br/>
    <label for="duration">Enter duration in seconds: </label>
    <input name="duration" type="number" id="duration"/>
    <br/>
    <label for="all-teachers">Choose teacher : </label>
    <select id="all-teachers" name="teacher">
        <option selected="selected">
            <p th:text=".....">VALUE</p>
        </option>
        <datalist id="teachers">
            <div th:each="teacher : ${teachers}">
                <option th:text="${teacher.getFirstName() + ' ' + teacher.getLastName()}"/>
            </div>
        </datalist>
    </select>
    <br/>
    <label for="all-halls">Choose hall : </label>
    <select id="all-halls" name="hall">
        <option selected="selected">
            <p th:text=".....">VALUE</p>
        </option>
        <datalist id="halls">
            <div th:each="hall : ${halls}">
                <option th:text="${hall.getHallName()}"/>
            </div>
        </datalist>
    </select>
    <br/>
    <label for="all-subjects">Choose subject : </label>
    <select id="all-subjects" name="subject">
        <option selected="selected">
            <p th:text=".....">VALUE</p>
        </option>
        <datalist id="subjects">
            <div th:each="subject : ${subjects}">
                <option th:text="${subject.getSubjectName()}"/>
            </div>
        </datalist>
    </select>
    <br/>
    <input class="btn btn-primary" type="submit" value="Create schedule">
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>