<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        label{
            display: block;
            float: left;
            width : 200px;
        }
        input:focus:required:invalid {background-color: pink; color: white;}
        input:required:valid {background-color: white; color: black; }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">University</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/groups}">Groups</a></li>
                        <li><a class="dropdown-item" th:href="@{/halls}">Halls</a></li>
                        <li><a class="dropdown-item" th:href="@{/schedules}">Schedules</a></li>
                        <li><a class="dropdown-item" th:href="@{/students}">Students</a></li>
                        <li><a class="dropdown-item" th:href="@{/subjects}">Subjects</a></li>
                        <li><a class="dropdown-item" th:href="@{/teachers}">Teachers</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    function verify() {
        document.getElementById("first-name").innerHTML = "input:invalid { border: 1px solid red!important;}input:valid { border: 1px solid green;}";
        document.getElementById("last-name").innerHTML = "input:invalid { border: 1px solid red!important;}input:valid { border: 1px solid green;}";
    }
</script>
<form th:method="PATCH" th:action="@{/students/{id}(id=${student.getStudentId()})}" th:object="${student}">
    <label for="first-name">Enter first name: </label>
    <input name="first-name" type="text" th:value = "*{firstName}" id="first-name" required/>
    <br/>
    <label for="last-name">Enter last name: </label>
    <input name="last-name" type="text" th:value = "*{lastName}" id="last-name" required/>
    <br/>
    <label for="all-groups">Choose group : </label>
    <select id="all-groups" name="group" required>
        <option selected="selected">
            <p th:text="${student.getGroup().getGroupName()}">VALUE</p>
        </option>
        <datalist id="groups">
            <div th:each="group : ${groups}">
                <option th:text="${group.getGroupName()}"/>
            </div>
        </datalist>
    </select>
    <br/>
    <input class="btn btn-primary" type="submit" value="Update student" onclick="verify()">
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>